.content {
  background-color: rgb(255, 0, 0);
  width: 90%;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  position: relative;
}

#aboutMe {
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
  width: 6rem;
}

#myface {
  width: 6rem;
  height: 6rem;
}

.courseDiv {
  background-color: #ffcc88;
  flex-direction: column;
}
