@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");

#splash {
  font-family: "Vollkorn", serif;
  font-size: 8rem;
}

#aboutMe {
  background: #ccc;
}

#activeCourses {
  background-color: yellow;
}

#completedCourses {
  background-color: green;
}

#remainingCourses {
  background-color: aquamarine;
}

#progressBar {
  width: 500px;
  height: 40px;
  background-color: black;
}

#progress {
  height: 100%;
  width: 10%;
  background-color: green;
}
.progressBarGenerated {
  width: 500px;
  height: 40px;
  background-color: black;
}

.progressGenerated {
  height: 100%;
  width: 10%;
  background-color: green;
}

.carlitoface {
  background-image: url(img/carlito.jpeg);
  background-size: cover;
}
.findusface {
  background-image: url(img/findus.JPG);
  background-size: cover;
}
.willeface {
  background-image: url(img/wille.jpeg);
  background-size: cover;
}

#myface {
  width: 10rem;
  height: 10rem;
}

#cats {
  height: 3rem;
  width: 100%;
  background-color: red;
}
#findus {
  background-image: url(img/findus-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#wille {
  background-image: url(img/wille-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
